*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: black;
    align-items: center;
    padding-top: 80px;
    background-image: url('images/rr.jpg');
    
}

.container{
    
    min-height: 500 vh;
    width: 100% ;
     padding: 10px;   
     align-items: center; 
}

.todo-app{
    color: aliceblue;
    font-size: 50px;
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    
    
}

.todo-app h2{
    color: bisque;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.todo-app h2 img{
    width: 80px;
    margin-left: 20px;
    
}
.list{
    background-color:#edeef0 ;
    max-width: 700px;
    border-radius: 10px;
    margin-left: 35%;

}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#edeef0 ;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    max-width: 700px;
    padding-top: 20px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    font-size: 29px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    border-radius: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    font-size: 27px;
}
ul li ::before{
    content: '';
    position: absolute;
    height: 28px;
    width:28px;
    border-radius: 50%;
    background-image: url('unchecked.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url('checked.png');
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    padding-right: 10px;
}
ul li span:hover{
    background: #edeef0;
}